<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
	<meta charset="UTF-8">
	<title>JPA DATA</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1>JPA DATABASE</h1>
<div th:each="post : ${allPosts}">
	<p th:text="${post.getName()} + ' ' + ${post.getGender()} "></p>
</div>

<form th:action="'jpa/edit/' + ${post.getId()}'" method="post">
<button>Edit</button>
</form>

<form th:action="'jpa/delete/' + ${post.getId()}'" method="post">
<button>Delete</button>
</form>


</body>
</html>